<div class="wrapper">
	<div class="brdcrb">
        <select name="cate2" id="cate2" tabindex="2">
            <option>Automotive</option>
            <option>Baby &amp; Children</option>
            <option>Beauty &amp; Health</option>
            <option>Home &amp; Garden</option>
            <option>Kids &amp; Toys</option>
            <option>Clothing &amp; Apparel</option>
            <option>Books</option>
            <option>Computers</option>
            <option>Electronics</option>
        </select>
        <div class="results">
        	<small>1 - 15 of 1,234,567 results</small>
            <div class="sort">
            	Short by : <span>Highest Price</span>
            </div>
        </div>
        <div class="clr"></div>
    </div><!--/Bread Crumb-->
    <div class="home-product">
    	<ul>
        	<li>
            	<div class="productBx">
                	<img src="images/product-01.jpg" alt="" />
                </div>
                <div class="info">
                	<p>Cleaning/ Clean Home Synergy Blend</p>
                    <b>$10.80</b>
                </div>
                <div class="infoBx">
                	<h3>Fiskars Garden Bucket Caddy</h3>
                    <p>Garden bucket caddy featuring unique and clever design. Fits snugly on 5-gallon bucket. Sturdy canvas construction with deep pockets for various hand tools Includes cell phone, beverage, and seed packet holders 8.9-by-10-by- 13.4-inches at 2-pounds</p>
                    <a href="#" class="view">View Details</a>
                    <a href="#" class="add">Add to Cart</a>
                </div>
            </li>
            <li>
            	<div class="productBx">
                	<img src="images/product-02.jpg" alt="" />
                </div>
                <div class="info">
                	<p>Fiskars Garden Bucket Caddy</p>
                    <b>$10.80</b>
                </div>
                <div class="infoBx">
                	<h3>Fiskars Garden Bucket Caddy</h3>
                    <p>Garden bucket caddy featuring unique and clever design. Fits snugly on 5-gallon bucket. Sturdy canvas construction with deep pockets for various hand tools Includes cell phone, beverage, and seed packet holders 8.9-by-10-by- 13.4-inches at 2-pounds</p>
                    <a href="#" class="view">View Details</a>
                    <a href="#" class="add">Add to Cart</a>
                </div>
            </li>
            <li>
            	<div class="productBx">
                	<img src="images/product-03.jpg" alt="" />
                </div>
                <div class="info">
                	<p>Little Tikes Deluxe Home and Garden Playhouse</p>
                    <b>$10.80</b>
                </div>
                <div class="infoBx">
                	<h3>Fiskars Garden Bucket Caddy</h3>
                    <p>Garden bucket caddy featuring unique and clever design. Fits snugly on 5-gallon bucket. Sturdy canvas construction with deep pockets for various hand tools Includes cell phone, beverage, and seed packet holders 8.9-by-10-by- 13.4-inches at 2-pounds</p>
                    <a href="#" class="view">View Details</a>
                    <a href="#" class="add">Add to Cart</a>
                </div>
            </li>
            <li>
            	<div class="productBx">
                	<img src="images/product-04.jpg" alt="" />
                </div>
                <div class="info">
                	<p>Foreside Home and Garden Metal Shasta</p>
                    <b>$10.80</b>
                </div>
                <div class="infoBx">
                	<h3>Fiskars Garden Bucket Caddy</h3>
                    <p>Garden bucket caddy featuring unique and clever design. Fits snugly on 5-gallon bucket. Sturdy canvas construction with deep pockets for various hand tools Includes cell phone, beverage, and seed packet holders 8.9-by-10-by- 13.4-inches at 2-pounds</p>
                    <a href="#" class="view">View Details</a>
                    <a href="#" class="add">Add to Cart</a>
                </div>
            </li>
        <!--</ul>
        <div class="clr"></div>
        <ul>-->
        	<li>
            	<div class="productBx">
                	<img src="images/product-05.jpg" alt="" />
                </div>
                <div class="info">
                	<p>Miracle-Gro Aero Garden 7-Pod Indoor...</p>
                    <b>$10.80</b>
                </div>
                <div class="infoBx">
                	<h3>Fiskars Garden Bucket Caddy</h3>
                    <p>Garden bucket caddy featuring unique and clever design. Fits snugly on 5-gallon bucket. Sturdy canvas construction with deep pockets for various hand tools Includes cell phone, beverage, and seed packet holders 8.9-by-10-by- 13.4-inches at 2-pounds</p>
                    <a href="#" class="view">View Details</a>
                    <a href="#" class="add">Add to Cart</a>
                </div>
            </li>
            <li>
            	<div class="productBx">
                	<img src="images/product-06.jpg" alt="" />
                </div>
                <div class="info">
                	<p>Allsop Home and Garden Solar  Bubble...</p>
                    <b>$10.80</b>
                </div>
                <div class="infoBx">
                	<h3>Fiskars Garden Bucket Caddy</h3>
                    <p>Garden bucket caddy featuring unique and clever design. Fits snugly on 5-gallon bucket. Sturdy canvas construction with deep pockets for various hand tools Includes cell phone, beverage, and seed packet holders 8.9-by-10-by- 13.4-inches at 2-pounds</p>
                    <a href="#" class="view">View Details</a>
                    <a href="#" class="add">Add to Cart</a>
                </div>
            </li>
            <li>
            	<div class="productBx">
                	<img src="images/product-07.jpg" alt="" />
                </div>
                <div class="info">
                	<p>Chapin 20000 1-Gallon Lawn and Garden...</p>
                    <b>$10.80</b>
                </div>
                <div class="infoBx">
                	<h3>Fiskars Garden Bucket Caddy</h3>
                    <p>Garden bucket caddy featuring unique and clever design. Fits snugly on 5-gallon bucket. Sturdy canvas construction with deep pockets for various hand tools Includes cell phone, beverage, and seed packet holders 8.9-by-10-by- 13.4-inches at 2-pounds</p>
                    <a href="#" class="view">View Details</a>
                    <a href="#" class="add">Add to Cart</a>
                </div>
            </li>
            <li>
            	<div class="productBx">
                	<img src="images/product-08.jpg" alt="" />
                </div>
                <div class="info">
                	<p>Sloggers Women's Rain and Garden Shoes...</p>
                    <b>$10.80</b>
                </div>
                <div class="infoBx">
                	<h3>Fiskars Garden Bucket Caddy</h3>
                    <p>Garden bucket caddy featuring unique and clever design. Fits snugly on 5-gallon bucket. Sturdy canvas construction with deep pockets for various hand tools Includes cell phone, beverage, and seed packet holders 8.9-by-10-by- 13.4-inches at 2-pounds</p>
                    <a href="#" class="view">View Details</a>
                    <a href="#" class="add">Add to Cart</a>
                </div>
            </li>
        <!--</ul>
        <div class="clr"></div>
        <ul>-->
        	<li>
            	<div class="productBx">
                	<img src="images/product-01.jpg" alt="" />
                </div>
                <div class="info">
                	<p>Cleaning/ Clean Home Synergy Blend</p>
                    <b>$10.80</b>
                </div>
                <div class="infoBx">
                	<h3>Fiskars Garden Bucket Caddy</h3>
                    <p>Garden bucket caddy featuring unique and clever design. Fits snugly on 5-gallon bucket. Sturdy canvas construction with deep pockets for various hand tools Includes cell phone, beverage, and seed packet holders 8.9-by-10-by- 13.4-inches at 2-pounds</p>
                    <a href="#" class="view">View Details</a>
                    <a href="#" class="add">Add to Cart</a>
                </div>
            </li>
            <li>
            	<div class="productBx">
                	<img src="images/product-02.jpg" alt="" />
                </div>
                <div class="info">
                	<p>Fiskars Garden Bucket Caddy</p>
                    <b>$10.80</b>
                </div>
                <div class="infoBx">
                	<h3>Fiskars Garden Bucket Caddy</h3>
                    <p>Garden bucket caddy featuring unique and clever design. Fits snugly on 5-gallon bucket. Sturdy canvas construction with deep pockets for various hand tools Includes cell phone, beverage, and seed packet holders 8.9-by-10-by- 13.4-inches at 2-pounds</p>
                    <a href="#" class="view">View Details</a>
                    <a href="#" class="add">Add to Cart</a>
                </div>
            </li>
            <li>
            	<div class="productBx">
                	<img src="images/product-03.jpg" alt="" />
                </div>
                <div class="info">
                	<p>Little Tikes Deluxe Home and Garden Playhouse</p>
                    <b>$10.80</b>
                </div>
                <div class="infoBx">
                	<h3>Fiskars Garden Bucket Caddy</h3>
                    <p>Garden bucket caddy featuring unique and clever design. Fits snugly on 5-gallon bucket. Sturdy canvas construction with deep pockets for various hand tools Includes cell phone, beverage, and seed packet holders 8.9-by-10-by- 13.4-inches at 2-pounds</p>
                    <a href="#" class="view">View Details</a>
                    <a href="#" class="add">Add to Cart</a>
                </div>
            </li>
            <li>
            	<div class="productBx">
                	<img src="images/product-04.jpg" alt="" />
                </div>
                <div class="info">
                	<p>Foreside Home and Garden Metal Shasta</p>
                    <b>$10.80</b>
                </div>
                <div class="infoBx">
                	<h3>Fiskars Garden Bucket Caddy</h3>
                    <p>Garden bucket caddy featuring unique and clever design. Fits snugly on 5-gallon bucket. Sturdy canvas construction with deep pockets for various hand tools Includes cell phone, beverage, and seed packet holders 8.9-by-10-by- 13.4-inches at 2-pounds</p>
                    <a href="#" class="view">View Details</a>
                    <a href="#" class="add">Add to Cart</a>
                </div>
            </li>
        <!--</ul>
        <div class="clr"></div>
        <ul>-->
        	<li>
            	<div class="productBx">
                	<img src="images/product-05.jpg" alt="" />
                </div>
                <div class="info">
                	<p>Miracle-Gro Aero Garden 7-Pod Indoor...</p>
                    <b>$10.80</b>
                </div>
                <div class="infoBx">
                	<h3>Fiskars Garden Bucket Caddy</h3>
                    <p>Garden bucket caddy featuring unique and clever design. Fits snugly on 5-gallon bucket. Sturdy canvas construction with deep pockets for various hand tools Includes cell phone, beverage, and seed packet holders 8.9-by-10-by- 13.4-inches at 2-pounds</p>
                    <a href="#" class="view">View Details</a>
                    <a href="#" class="add">Add to Cart</a>
                </div>
            </li>
            <li>
            	<div class="productBx">
                	<img src="images/product-06.jpg" alt="" />
                </div>
                <div class="info">
                	<p>Allsop Home and Garden Solar  Bubble...</p>
                    <b>$10.80</b>
                </div>
                <div class="infoBx">
                	<h3>Fiskars Garden Bucket Caddy</h3>
                    <p>Garden bucket caddy featuring unique and clever design. Fits snugly on 5-gallon bucket. Sturdy canvas construction with deep pockets for various hand tools Includes cell phone, beverage, and seed packet holders 8.9-by-10-by- 13.4-inches at 2-pounds</p>
                    <a href="#" class="view">View Details</a>
                    <a href="#" class="add">Add to Cart</a>
                </div>
            </li>
            <li>
            	<div class="productBx">
                	<img src="images/product-07.jpg" alt="" />
                </div>
                <div class="info">
                	<p>Chapin 20000 1-Gallon Lawn and Garden...</p>
                    <b>$10.80</b>
                </div>
                <div class="infoBx">
                	<h3>Fiskars Garden Bucket Caddy</h3>
                    <p>Garden bucket caddy featuring unique and clever design. Fits snugly on 5-gallon bucket. Sturdy canvas construction with deep pockets for various hand tools Includes cell phone, beverage, and seed packet holders 8.9-by-10-by- 13.4-inches at 2-pounds</p>
                    <a href="#" class="view">View Details</a>
                    <a href="#" class="add">Add to Cart</a>
                </div>
            </li>
            <li>
            	<div class="productBx">
                	<img src="images/product-08.jpg" alt="" />
                </div>
                <div class="info">
                	<p>Sloggers Women's Rain and Garden Shoes...</p>
                    <b>$10.80</b>
                </div>
                <div class="infoBx">
                	<h3>Fiskars Garden Bucket Caddy</h3>
                    <p>Garden bucket caddy featuring unique and clever design. Fits snugly on 5-gallon bucket. Sturdy canvas construction with deep pockets for various hand tools Includes cell phone, beverage, and seed packet holders 8.9-by-10-by- 13.4-inches at 2-pounds</p>
                    <a href="#" class="view">View Details</a>
                    <a href="#" class="add">Add to Cart</a>
                </div>
            </li>
        </ul>
        <script language="javascript">
        	$('.add').click(function() {
				$('#output').html(function(i, val) { return val*1+1 });
			});
        </script>
        <div class="clr"></div>
        <div class="loadBx">
        	<span>Load More Products</span>
        </div>
    </div><!--Product List-->
	<div class="footage">
    	<div class="fBox">
        	<h2>Navigate</h2>
            <ul>
            	<li><a href="#">Search Product</a></li>
                <li><a href="#">Best Seller</a></li>
                <li><a href="#">Browse Category</a></li>
            </ul>
        </div><!--Footer Menu Box-->
        <div class="fBox">
        	<h2>Support</h2>
            <ul>
            	<li><a href="#">Customer Support</a></li>
                <li><a href="#">FAQ/Help</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div><!--Footer Menu Box-->
        <div class="footer-hide"></div>
        <div class="fBox">
        	<h2>Shopping</h2>
            <ul>
            	<li><a href="#">Return Policy</a></li>
                <li><a href="#">Shipping Info</a></li>
                <li><a href="#">Payment &amp; Security</a></li>
            </ul>
        </div><!--Footer Menu Box-->
        <div class="fBox">
        	<h2>Account</h2>
            <ul>
            	<li><a href="#">My Cart</a></li>
                <li><a href="#">Order History</a></li>
                <li><a href="#">Wish List</a></li>
            </ul>
        </div><!--Footer Menu Box-->
        <div class="clr"></div>
        <ul class="fnav">
        	<li><a href="#">Navigate</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#">Shopping</a></li>
            <li><a href="#">Account</a></li>
        </ul>
    </div><!--/Footage-->
</div>
